<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured{{else}}New Burger!{{/if}}
	</button>

	<button class="delete-burger" id="button" data-id="{{this.id}}">X</button>
</li>
